.categories {
  // position: fixed;
  padding-left: 1rem;

  &__item {
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem 0.8rem;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
    transition: all 0.5s;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &:hover {
      background-color: #dbd7d2;
    }
  }

  &__icon {
    margin-right: 1rem;
    height: 4rem;
    width: 4rem;
    fill: #0070ff;
  }

  &__svg {
    height: 4rem;
    width: 4rem;
  }

  // &__menu {
  //   margin-bottom: 1rem;
  //   padding-left: 2rem;
  //   margin-top: -1.2rem;
  //   cursor: pointer;
  // }

  // &__menu-icon {
  //   margin-bottom: 1rem;
  //   position: relative;
  //   &,
  //   &::before,
  //   &::after {
  //     width: 3rem;
  //     height: 3px;
  //     background-color: #2a3439;
  //     display: inline-block;
  //     transition: transform 0.3s;
  //   }

  //   &::before,
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //   }

  //   &::before {
  //     top: -1.2rem;
  //   }

  //   &::after {
  //     top: 1.2rem;
  //   }
  // }

  // &__menu:checked &__menu-icon {
  //   background-color: transparent;
  // }

  // &__menu:checked &__menu-icon::before {
  //   top: 0;
  //   transform: rotate(-45deg);
  // }

  // &__menu:checked &__menu-icon::after {
  //   top: 0;
  //   transform: rotate(45deg);
  // }
}

.copyright {
  text-align: center;
  margin-bottom: 3rem;
}

.linkedin-link {
  color: #2a3439;
}

.news {
  padding: 1.5rem;
  // box-shadow: 0 0.3rem 1rem rgba(black, 0.1);
  // border-radius: 5px;
  // border-bottom: 3px solid #0070ff;
  // margin-bottom: 3rem;

  &__title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__key {
    font-weight: 800;
  }

  &__content {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }

  &__img {
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 15rem;
    width: 15rem;
    border-radius: 4px;
  }

  &__headline {
    background-color: #6dc9e0;
    padding: 0.4rem 0.3rem;
    border-radius: 7px;
    line-height: 1.6;
  }

  &__url {
    margin-bottom: 3rem;
  }

  &__link {
    color: #0070ff;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
      outline: none;
      border-bottom: 3px solid #0070ff;
    }
  }

  &__info {
    box-shadow: 0 0.3rem 1rem rgba(black, 0.1);
    border-radius: 5px;
    border-bottom: 3px solid #0070ff;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
}

.spinner {
  display: flex;
  justify-content: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: #0070ff;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14562;

  &__img {
    // margin-right: 2rem;
    height: 30rem;
    width: 40rem;

    @include respond(tabPort) {
      height: 20rem;
      width: 25rem;
    }

    @include respond(phone) {
      height: 10rem;
      width: 15rem;
    }
  }

  &__para {
    font-size: 1.6rem;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;

  &__svg {
    fill: #0070ff;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
  }

  &__para {
    font-size: 1.5rem;
  }
}

.menu {
  &__icon-box {
    width: fit-content;
    height: auto;
    margin-top: -5rem;
    margin-left: 2rem;
    position: absolute;
    z-index: 125896;
    background-color: transparent;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    @include respond(tabPort) {
      visibility: visible;
      opacity: 1;
    }
  }

  &__line1 {
    width: 4rem;
    height: 4px;
    margin: 1rem 0.8rem;
    background-color: #2a3439;
    border-radius: 50px;

    @include respond(phone) {
      width: 2rem;
      height: 2.5px;
      margin: 0.7rem 0.6rem;
    }
  }

  &__line2 {
    width: 4rem;
    height: 4px;
    margin: 1rem 0.8rem;
    background-color: #2a3439;
    border-radius: 50px;

    @include respond(phone) {
      width: 2rem;
      height: 2.5px;
      margin: 0.7rem 0.6rem;
    }
  }

  &__line3 {
    width: 4rem;
    height: 4px;
    margin: 1rem 0.8rem;
    background-color: #2a3439;
    border-radius: 50px;
    transition: all 0.4s;

    @include respond(phone) {
      width: 2rem;
      height: 2.5px;
      margin: 0.7rem 0.6rem;
    }
  }
}

.active .menu__line1 {
  transform: translate(0px, 15px) rotate(-45deg);
  @include respond(phone) {
    transform: translate(0px, 11px) rotate(-45deg);
  }
}

.active .menu__line2 {
  opacity: 0;
}

.active .menu__line3 {
  transform: translate(0px, -15px) rotate(45deg);
  @include respond(phone) {
    transform: translate(0px, -11px) rotate(45deg);
  }
}

.hidden {
  opacity: 0;
  left: -40rem;
}

.sticky {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 12rem;
  z-index: 852852;
}
