.header {
  position: fixed;
  top: 0;
  z-index: 150;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;

  &__logo-image {
    height: 7rem;
    width: 7rem;
  }

  &__heading {
    font-size: 1.8rem;
    margin-left: 2rem;
    text-transform: uppercase;
    line-height: 1.2;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }

  &__heading1 {
    &--secondary {
      margin-left: 0.5rem;

      //   &::before {
      //     content: '';
      //     position: absolute;
      //     top: 6%;
      //     left: 48.5%;
      //     height: 12%;
      //     width: 18%;
      //     background-color: #007fff;
      //     transform: rotate(-5deg);
      //     transform-origin: center;
      //     z-index: -1;
      //   }
    }
  }
}

.container {
  // height: 100vh;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 35rem 1fr;
  grid-gap: 1.5rem;
  transition: all 0.5s;

  @include respond(tabPort) {
    display: block;
  }

  &__sidebar {
    background-color: #fff;
    backdrop-filter: 10px;
    position: relative;

    width: 35rem;
    height: 80vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;

    @include respond(tabLand) {
      // opacity: 1;
      // visibility: visible;
    }

    @include respond(tabPort) {
      width: 30rem;
    }
  }

  &__news {
    padding: 1rem;

    grid-column: 2 / span 1;
    // min-height: 100%;
  }
}
